@font-face {
    src: url(font/PlaypenSans-Bold.ttf);
    font-family:PlaypenSans-Bold ;
}
@font-face {
    src: url(font/PlaypenSans-VariableFont_wght.ttf);
    font-family:PlaypenSans-VariableFont_wght ;
}
h1{ 
    font-family: 'PlaypenSans', sans-serif;
    font-size: 50px;
    font-style: italic;
    background-color: black;
    color: aliceblue;
    

}
p{
    font-family: 'PlaypenSans-VariableFont_wght', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    
}